<div class="h-screen flex flex-col bg-gray-100 overflow-hidden">

  <!-- NAVBAR -->
  <app-navbar></app-navbar>

  <!-- BODY -->
  <div class="flex flex-1 min-h-0 overflow-hidden relative">

    <!-- SIDEBAR -->
    <app-sidebar></app-sidebar>

    <!-- CONTENT -->
    <main class="flex-1 min-w-0 overflow-hidden bg-gray-100">
      <div class="h-full overflow-y-auto  ">
        <div
          class="min-h-full rounded-3xl bg-white  shadow-sm  "
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>

  </div>
</div>